<link rel="stylesheet" href="/styles/shares.css">
<link rel="stylesheet" href="/styles/about.css">
<title>
    <%= mytitle %>
</title>
<%- include('includes/header') %>
    <main>
        <h1>Page Not Found!</h1>
        <p id="about-paragraph">
            Unfortunately, we weren't able to find this page.
        </p>
    </main>
    <%- include('includes/footer') %>
        </body>

        </html>