<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/about.css">
        <title>Eatwell</title>
</head>

<body>
    <%- include('includes/header') %>
        <main>
            <h1>Something went wrong!</h1>
            <p id="about-paragraph">
                Unfortunately, something went wrong on the server - we are doing our best to fix it as soon as possible.
            </p>
        </main>
        <%- include('includes/footer') %>
</body>

</html>