<link rel="stylesheet" href="styles/shares.css">
<link rel="stylesheet" href="styles/about.css">
<title>
    <%= mytitle %>
</title>
<%- include('includes/header') %>

    <main>
        <h1>About Us</h1>
        <h5>Welcome to our website, your ultimate destination for discovering the best dining experiences in your city
            and beyond. We are a passionate community of food enthusiasts and critics who share a common love for great
            food, exceptional service, and unforgettable restaurant experiences.
        </h5>
    </main>
    <%- include('includes/footer') %>
        </body>

        </html>
