<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/about.css">
        <title>Eatwell</title>
</head>

<body>
    <%- include('includes/header') %>
        <main>
            <h1>About Us</h1>
            <p id="about-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea corrupti inventore
                cumque
                voluptatem quo autem
                optio maiores omnis quaerat, ratione, labore incidunt facilis vitae! Optio quas a porro temporibus nemo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nobis soluta sit. Corrupti adipisci,
                unde, optio blanditiis error similique voluptates eos minus earum iste nostrum, a nobis provident
                reiciendis
                neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eos voluptatum tenetur corrupti
                repellat fuga doloribus at animi facere maiores repudiandae, et eius, quae accusamus impedit, tempore
                qui?
                Laudantium, accusamus.
                Maiores aliquid quia quam perspiciatis quis expedita earum, officiis molestias quibusdam eos adipisci
                maxime
                mollitia sapiente similique. Nemo quod maxime accusantium obcaecati rerum autem tenetur, veniam
                cupiditate?
                Unde, placeat dicta!
                Voluptas sed non quam, a numquam fugit quis cumque in vero placeat deserunt mollitia explicabo et eum
                excepturi rem fugiat facere distinctio soluta quidem. Incidunt totam quos exercitationem voluptatum
                illum.
            </p>
        </main>
        <%- include('includes/footer') %>
</body>

</html>