<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/confirm.css">
        <title>Eatwell</title>
</head>

<body>
    <%- include('includes/header') %>
        <main>
            <h1>Submit success!!</h1>
            <p>Your restaurant was successfully added to our list!</p>
        </main>
        <%- include('includes/footer') %>
</body>

</html>