<link rel="stylesheet" href="styles/shares.css">
<link rel="stylesheet" href="styles/about.css">
<title>
    <%= mytitle %>
</title>
<%- include('includes/header') %>

    <main>
        <h1>We got your review!</h1>
        <p>
            Thanks
        </p>
    </main>
    <%- include('includes/footer') %>
        </body>

        </html>
