main {
    text-align: center;
}

.restaurants-box {
    background-color: rgb(69, 55, 29);
    color: rgb(255, 208, 121);
    padding: 1rem 1.8rem;
    width: 80vw;
    margin: 0 auto;
    border-radius: 1rem;
    text-align: left;
}

#button {
    text-align: right;
}

button {
    background-color: rgb(255, 208, 121);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: rgb(69, 55, 29);
    font-family: inherit;
    margin: 10px;
}

form button {
    margin: 20px auto;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-color: rgb(69, 55, 29);
    color: orange;
}

#restaurant-title {
    color: rgb(255, 158, 61);
}

#restaurant-description {
    color: rgb(165, 110, 9);
}